body
{
background-color :lightslategray;
font-family:'Times New Roman', Times, serif
}
img
{
float: left;
}

.unimportant
{
color:navy;
}

.important
{
color:blueviolet;
}

.why-moringa
{
background-color:cornflowerblue
}